// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/foundation-global";
@import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
@import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$article-font-family: 'PT Serif', serif, sans-serif;

div#container {
    margin-top: 35px;
    padding: 30px 50px;
    background-color: #fff;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3, h4, h5, h6 {
        font-family: $article-font-family;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        padding-left: 20px;
    }

    article {
        font-family: $article-font-family;
    }

    article#post {
        h2 {
            width: auto;
            text-align: center;
            a {
                color: $body-font-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        span#date {
            display: block;
            margin-bottom: 30px;
            width: auto;
            text-align: center;
            color: #aaa;
        }
    }

    p code {
        padding: 2px 5px;
        @include radius;
        border: 1px solid #eaeaea;
        color: $body-font-color;
        background-color: #f8f8f8;
        font-size: 90%;
    }

    ul#posts {
        padding-left: 0px;
        li {
            padding-bottom: 10px;
            list-style: none;
            a {
                text-decoration: underline;
            }
            span {
                float: right;
            }
        }
    }

    div.highlight {
        margin: 10px;

        @include radius;
        border: 3px solid #eaeaea;

        pre {
            padding: 10px;
            border: 1px solid #ccc;
            overflow: auto;
            white-space: pre;
            background-color: #021321;
        }
        code {
            line-height: 1.5em;
            font-size: 90%;
            color: #ddd; //$body-font-color;
            font-family: $code-font-family;
        }
    }
}
