body {
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
}

h1 {
    font-size: 400%;
    color: #121621;
}

h2 {
    font-size: medium;
}

a:link, a:hover, a:visited {
    text-decoration: none;
    color: #6d6d6d;
}
a:hover {
    text-decoration: underline;
}

ul li {
    list-style: none;
    padding: 2px;
}

ul {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
