body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Times, serif;
}

h1 {
    margin-bottom: 0px;
    font-weight: normal;
    color: #121621;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: medium;
    font-weight: normal;
}

p {
    font-size: small;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
    letter-spacing: 0.5px;
    color: #06b;
}
