h1 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#header {
    margin-bottom: 30px;
    text-align: center;
}

#header h1 {
    font-size: 500%;
}

#header p#description {
    text-indent: 5em;
    text-align: left;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#contents {
    float: left;
    width: 580px;
    padding-bottom: 100px;
    padding-right: 20px;
}

#contents ul li {
    list-style: circle;
}

#container {
    float: left;
    width: 180px;
    padding: 2px;
}
#container h2 {
    width: 100%;
    text-align: center;
}

#container ul {
    padding-bottom: 10px;
}

#container ul li {
    list-style: none;
    padding: 2px;
}

#twitter {
    padding-right: 20px;
    padding-bottom: 10px;
}

#footer {
    clear: both;
    margin-top: 550px;
    border-top: double #AAA;
    font-size: small;
}

#footer_container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 800px;
    height: 300px;
    text-align: center;
}

#footer_container h2 {
    text-align: centerj
}

#bookmark {
    float: left;
    width: 250px;
    text-align: left;
}
#bookmark ul {
    padding: 0px;
    margin: 0px;
}
#bookmark li {
    list-style: none;
    margin-bottom: 1em;
    padding: 0px;
}
#flickr {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 100%;
}

#services {
    float: left;
}

#services ul li {
    list-style: none;
    text-align: left;
    vertical-align: middle;
}
#services ul li img {
    margin-right: 0.5em;
}

#copyright {
    clear: both;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #555;
}
